<app-action-bar (delete)="deleteLosses($event)"
                (create)="createLoss()"
                (changeEntityState)="changeEntity($event)"
                [disableAdd] = "sheetMode !== SheetMode.Closed"
                [disableDelete] = "sheetMode !== SheetMode.Closed"
                [disableChangeState]= "sheetMode !== SheetMode.Closed"
                [selectedEntity]="this.selectLossEntity"
                >
</app-action-bar>

<mat-drawer-container style="height: calc(100% - 72px);">
  <mat-drawer [disableClose]="true" [opened]="sheetMode !== SheetMode.Closed" mode="side" position="end">
    <app-detailed-sheet [entity]="loss"
                        [fields]="fields"
                        [title]="title"
                        [needsLock]="true"
                        [sheetMode]="sheetMode"
                        [disableSaveButton]="disableSaveButton"
                        (closeSheet)="closeSheet()"
                        (saveSheet)="saveLoss($event)"
                        (editSheet)="editSheet()"
                        >
    </app-detailed-sheet>
  </mat-drawer>

  <div style="height: calc(100% - 56px);">
    <div style="height: 100%; overflow-x: hidden;">
      <app-main-table [data]="losses"
                      [columns]="columns"
                      [sheetMode]="sheetMode"
                      (toggleEvent)="toggleSheet($event)"
                      (entitySelectedEvent)="getSelectedEntities($event)">
      </app-main-table>
    </div>
  </div>

</mat-drawer-container>
