hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
}

img {
  cursor: pointer;
}

mat-icon {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
