mat-toolbar {
    height: 64px;
}

.blue-color {
  color: var(--accent-color);

  height: 64px;
  background-color: var(--primary-color);
}

.mat-icon {
    margin: 10px;
    font-size: 24px;
}

.table-container {
    overflow-y: hidden;
    height: calc(100vh - 64px);
}

.button-align {
    margin-bottom: 5px;
    margin-right: 5px;
}
.iconTop{
  height: 40px;
  width: 30px;
  position: relative;
  padding-bottom: 1px;

}
.center{
  height: 64px;
  width: 80px;
  text-align: center;
  padding-right: 300px;
}
.box{
  padding: 5%;
  box-sizing: border-box;

}

  .logo-box {
    height: 60px;
    margin-left: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
  }
