.cscontextmenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  border-radius: 5px;
  background: #f1f1f1;
  padding: 5px;
  width: auto;
  height: auto;
}

.cstable {
  overflow: scroll;
  height: 30vh;
  width: 100%;
}

.textAndIcon {
  display: flex;
  cursor: pointer;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

.truncate-width {
  width: 10%;
}

input:focus {
  outline: none;
}