div.sheet {
    min-width: 350px;
    max-width: 1200px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 20px;
    padding-top: 5px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

div.config-area {
    margin-top: 25px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    row-gap: 1em;
    column-gap: 0.5em;
}

button {
    margin: 5px;
}

div.button-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
