div.form-box {
    background-color: white;
    margin: 4px;
    padding: 2px;
    border: 1px solid grey;
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

mat-checkbox.head1 {
    font-size: 2em;
    margin-right: 7px;
}
