<app-action-bar
  (delete)="deleteControlActions($event)"
  (create)="createControlAction()"
  [additionalDeleteMessage]="additionalDeleteMessage"
  [disableAdd]="sheetMode !== SheetMode.Closed"
  [disableDelete]="sheetMode !== SheetMode.Closed"
  [disableChangeState]="sheetMode !== SheetMode.Closed"
  (changeEntityState)="changeEntity($event)"
  [selectedEntity]="this.selectControlActionEntity">
</app-action-bar>

<mat-drawer-container style="height: calc(100% - 72px);">
  <mat-drawer [disableClose]="true" [opened]="sheetMode !== SheetMode.Closed" mode="side" position="end">
    <app-detailed-sheet [entity]="controlAction"
                        [fields]="fields"
                        [title]="title"
                        [needsLock]="true"
                        [sheetMode]="sheetMode"
                        [disableSaveButton]="disableSaveButton"
                        (closeSheet)="closeSheet()"
                        (saveSheet)="saveControlAction($event)"
                        (editSheet)="editSheet()">
    </app-detailed-sheet>
  </mat-drawer>

  <div style="height: calc(100% - 56px);">
    <div style="height: 100%; overflow-x: hidden;">
      <app-main-table [data]="controlActions"
                      [columns]="columns"
                      [sheetMode]="sheetMode"
                      (toggleEvent)="toggleSheet($event)"
                      (entitySelectedEvent)="getSelectedEntities($event)">
      </app-main-table>
    </div>
  </div>

</mat-drawer-container>
